.timetable-wrapper {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
}

.timetable-wrapper * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Latest Chrome, Edge, Opera and Firefox */
}

.timetable {
    background-color: #fff;
    border-radius: .5rem;
}

.timetable-content {
    display: flex;
    flex-direction: column;
}

.timetable-head {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid #a0a0a0;
    font-size: 0.8rem
}

.timetable-head-cell {
    flex: 1;
    text-align: center;
}

.timetable-whole-day-row {
    display: flex;
    align-items: center;
    background-color: #f0f8ff;
    border-bottom: 1px solid #a0a0a0;
    padding: 0.5em 0;
}

.timetable-whole-day-cell {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-row {
    display: flex;
    height: 2em;
    border-bottom: 1px solid #a0a0a0;
}

.timetable-time-column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    border-right: 1px solid #a0a0a0;
    font-size: 0.8rem
}

.timetable-body-cell {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.timetable-body-row > div:last-of-type {
    border: 0;
}