@typeparam TEvent where TEvent : class
@typeparam TType
@inherits BaseInput<TEvent, TType>

<div class="selectfield">
    <select id=@_id @bind=BindProperty>
        @foreach (var option in Options)
        {
            <option value="@option?.ToString()">@option</option>
        }
    </select>
    <label for=@_id>@Label</label>
    <div class="underline"></div>
</div>
