@typeparam TType

<div class="input-container">
    <label for="@Id">@Label:</label>
    <input id="@Id" @bind="FormattedValue" type="@InputType" />

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="error-message">@ErrorMessage</div>
    }
</div>
