@typeparam TEvent where TEvent : class
@inherits BaseInput<TEvent, DateTime>

<div class="datetimefield @(HasError ? "error" : "")">
    <InputDate id="@($"date-{_id}")" @bind-Value=DatePart Type=InputDateType.Date />
    <InputDate id="@($"time-{_id}")" @bind-Value=TimePart Type=InputDateType.Time />

    <label>@Label</label>

    @if (!HasError)
    {
        <div class="underline"></div>
    }
</div>
    <ErrorMessage Message=@ErrorMessage />