@typeparam TEvent where TEvent : class
@typeparam TType
@inherits BaseInput<TEvent, TType>

<div class="textfield">
    <input type="@GetInputType()" @bind=BindProperty id=@_id required=@Required placeholder=" " />
    <label for=@_id>@Label</label>
    <div class="underline"></div>
</div>

@if(HasError){
    <div class="">
        <span class="error">@ErrorMessage</span>
    </div>
}
