@typeparam TEvent where TEvent : class
@typeparam TType

<label>@Label</label>

@if(typeof(TType) == typeof(DateTime))
{
    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value:format="dd/MM/yyyy hh:mm" @bind-Value=BindProperty />
}
else
{
    <input type="@GetInputType()" @bind=BindProperty />
}
