@typeparam TEvent where TEvent : class
@typeparam TType
@inherits BaseInput<TEvent, TType>

<div class="datefield @(HasError ? "error" : "")">
    <InputDate id=@_id
               Type="InputDateType.DateTimeLocal"
               @bind-Value="BindProperty"
               @bind-Value:format="dd/MM/yyyy HH:mm"
               placeholder=" " />
    <label for=@_id>@Label</label>

    @if (!HasError)
    {
        <div class="underline"></div>
    }

    <ErrorMessage Message=@ErrorMessage />
</div>