<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <title>Timetable Example App</title>
    <link rel="stylesheet" href="Web.styles.css"/> @* REQ *@
</head>

<body style="background-color: #f8f8f8;">
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>