@typeparam TEvent where TEvent : class
@attribute [type: RenderModeInteractiveServer]

<div class="timetable-wrapper">
    <TimetableOptions 
        SelectedDisplayType="DefaultDisplayType"
        SelectedDisplayTypeChanged="OnDisplayTypeChanged"
        CurrentDate="CurrentDate"
        SupportedDisplayTypes="SupportedDisplayTypes"
        OnNextClicked="OnNextClicked"
        OnPreviousClicked="OnPreviousClicked"
    />

    <div class="timetable">
        <div class="timetable-head">
            <div></div>
            @foreach (var day in Enumerable.Range(0, 7))
            {
                <div class="timetable-head-cell">
                    @DateHelper.GetStartOfWeekDate(CurrentDate, FirstDayOfWeek).AddDays(day).ToString("dddd d MMM")
                </div>
            }
        </div>

        <div class="timetable-body">
            @foreach (var row in _rows)
            {
                <div class="timetable-body-column">@row.RowStartTime.ToString("H:00")</div>

                @foreach (var cell in row.Cells)
                {
                    <div class="timetable-body-cell" data-slot-id="@cell.Id" @key=@cell.Id>
                        @foreach (var cellEvent in cell.Events)
                        {
                            <TimetableEvent EventId=@cellEvent.Id
                                            Title=@(_getTitle(cellEvent.EventDetail))
                                            DetailTemplate=@(builder => DetailTemplate(cellEvent.EventDetail)(builder))>
                            </TimetableEvent>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>