@using System.Globalization
@typeparam TEvent where TEvent : class
@attribute [type: RenderModeInteractiveServer]

<div class="timetable-wrapper">
    <TimetableOptions
        Config=TimetableConfig
        OnDisplayTypeChanged=OnDisplayTypeChanged
        OnNextClicked=OnNextClicked
        OnPreviousClicked=OnPreviousClicked
    />
    <div class="timetable">
        <div class="timetable-head">
            <div class="timetable-time-column"></div>
            @{
            var startOfWeek = DateHelper.GetStartOfWeekDate(CurrentDate, TimetableConfig.SelectedDays.First());
            }
            @foreach (var dayOfWeek in TimetableConfig.SelectedDays)
            {
            var dayOffset = ((int)dayOfWeek - (int)startOfWeek.DayOfWeek + 7) % 7;
            var dateForDay = startOfWeek.AddDays(dayOffset);
            <div class="timetable-head-cell">
                @dateForDay.ToString("dddd", CultureInfo.CurrentCulture).Capitalize()
            </div>
            }
        </div>

        @foreach (var row in _rows)
        {
        <div class="timetable-row">
            <div class="timetable-time-column">@row.RowStartTime.ToString("H:00")</div>
            @foreach (var cell in row.Cells)
            {
            <div class="timetable-body-cell" data-slot-id="@cell.Id" @key=@cell.Id>
                @foreach (var cellEvent in cell.Events)
                {
                <TimetableEvent
                    EventId=@cellEvent.Id
                    Title=@(_getTitle(cellEvent.Event))
                    DetailTemplate=@(builder => DetailTemplate(cellEvent.Event)(builder))
                    Span=@cellEvent.Span>
                </TimetableEvent>
                }
            </div>
            }
        </div>
        }
    </div>
</div>