@typeparam TEvent where TEvent : class

<CascadingValue Name="RegisterValidation" IsFixed Value=@((Action<Func<bool>>)RegisterValidation)>
    <CascadingValue Name="StateChanged" IsFixed Value=@((Action)StateHasChanged)>
        <div class="modal-container">
            @if (State == EventModalState.Create || State == EventModalState.Edit)
            {
                <Input Model=EventDescriptor 
                       Label="Title" 
                       Selector="x => x.Title" 
                       Validate=ValidateTitle />

                <InputDateTime Model=EventDescriptor 
                               Label="Start"
                               Selector="x => x.DateFrom" 
                               Validate=ValidateDateFrom />

                <InputDateTime Model=EventDescriptor 
                               Label="End" 
                               Selector="x => x.DateTo" 
                               Validate=ValidateDateTo />

                @if (AdditionalFields != null)
                {
                    @AdditionalFields(EventDescriptor.Event)
                }

                @if (State == EventModalState.Create)
                {
                    <Dropdown Model=this 
                              Label="Repeat" 
                              Selector="x => x.SelectedRepeatability"
                              Options=RepetitionOptions />

                    @if (SelectedRepeatability != Repeatability.Once)
                    {
                        <InputDateTime Model=this 
                                       Label="Repeat Till" 
                                       Selector="x => x.RepeatUntil" 
                                       Type=InputDateType.Date
                                       Validate=ValidateRepeatUntilDate />
                    }

                    @if (SelectedRepeatability == Repeatability.Custom)
                    {
                        <div style="margin-top: 0.5rem;">
                            <label>Every (days):</label>
                            <input type="number" class="form-control" @bind=RepeatAfterDays min="1" />
                        </div>
                    }
                }

                <div style="margin-top: 1rem">
                    <Button Title="Save" OnClick=SaveAsync ButtonType=ButtonType.Confirm />
                    @if (State == EventModalState.Edit)
                    {
                        <Button Title="Delete" OnClick=ToggleDelete ButtonType=ButtonType.Delete Style="margin-left: 1rem;" />
                    }
                </div>
            }
            else
            {
                @if (EventDescriptor.HasGroupdAssigned)
                {
                    <Dropdown Model=this Label="Select" Selector="x => x.SelectedScope" Options="Scopes" />
                }

                <div>
                    <Button Title="Delete" OnClick=DeleteAsync ButtonType=ButtonType.Delete />
                    <Button Title="Cancel" OnClick=ModalService.Close ButtonType=ButtonType.Cancel Style="margin-left: 1rem;" />
                </div>
            }
        </div>
    </CascadingValue>
</CascadingValue>