@typeparam TEvent where TEvent : class

<h3>ImportModal</h3>

<Dropdown Model=this
          Label="Import type"
          Selector="x => x.Type"
          Options=ImportTypes />

<Button Title="Confirm" OnClick=SubmitAsync />
<Button Title="Cancel" OnClick=ModalService.Close ButtonType="ButtonType.Cancel" />
