<div class="modal-wrapper @(ModalService.IsOpen ? "show" : "hide")"
     @onmousedown=Close>
    <div class="modal" @onmousedown:stopPropagation>
        <div class="modal-header">
            <span class="modal-title">
                @ModalService.Title
            </span>
            <div class="close-button" @onclick=Close>
                <CloseIcon />
            </div>
        </div>
        <div class="modal-body">
            @ModalService.ModalContent
        </div>
    </div>
</div>