<div class="timetable-header">
    <div class="nav-arrow" @onclick=OnPreviousClicked>&lt;</div>
    <div class="center-column">
        <h3>@GetHeaderTitle()</h3>
    </div>
    <div class="nav-arrow" @onclick=OnNextClicked>&gt;</div>
</div>