.options {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: end;
    background-color: transparent;
    margin-bottom: 0.2rem;
}

.buttons > * {
    margin-right: .3rem;
}

.icon-button {
    border: 1px solid #a8a6a6;
    border-radius: .3rem;
    color: #333;
    cursor: pointer;
    padding: .1rem .2rem;
    width: 4rem;
    font-size: .6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

.icon-button > span {
    margin-left: .1rem;
}

.icon-button:hover {
    background-color: #ededed;
}

.icon-button:active {
    background-color: #eae5e5;
}