.display-type-options {
    display: flex;
    justify-content: end;
    background-color: transparent;
    margin-bottom: 0.2rem;
}

.display-type-options > * {
    margin-right: .3rem;
}

.display-type-button {
    border: 1px solid #a8a6a6;
    border-radius: .3rem;
    color: #333;
    cursor: pointer;
    padding: .1rem .2rem;
    width: 4rem;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

.display-type-button:hover {
    background-color: #ededed;
}

.display-type-button:active {
    background-color: #eae5e5;
}