@typeparam TEvent where TEvent : class

<div class="display-type-options">
    <div @onclick="Export" class="display-type-button">
        <FileDownloadIcon />
        <span>Export</span>
    </div>
    @foreach (var displayType in TimetableConfig.DisplayTypes.Where(x => x != TimetableConfig.DisplayType))
    {
        <span @onclick="() => HandleDisplayTypeChanged(displayType)" class="display-type-button">
            @displayType
        </span>
    }
</div>
