.timetable-wrapper {
    position: relative;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
}

.timetable-wrapper *, .timetable-wrapper ::deep * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timetable {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.timetable-grid {
    display: grid;
    position: relative;
    min-height: 600px;
}

::deep .timetable-body-cell:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

::deep .grid-border {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e0e0e0;
}

::deep .timetable-head-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: .8em;
}

::deep .timetable-row-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7em;
}

::deep .disabled {
    background-color: #f0f0f0;
    color: #999;
}
