.timetable-wrapper {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
}

.timetable-wrapper * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timetable {
    background-color: #fff;
    border-radius: .5rem;
}

.timetable-content {
    display: flex;
    flex-direction: column;
}

.timetable-head {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid #a0a0a0;
    font-size: 0.8rem;
}

.timetable-head-cell {
    flex: 1;
    text-align: center;
}

.timetable-grid {
    display: block;
}

.timetable-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a0a0a0;
}

.timetable-whole-day-cell, .timetable-body-cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-time-column {
    min-width: 10em;
    border-right: 1px solid #a0a0a0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
