<div style="@WrapperStyle">
    <div class="timetable-event-pill @(IsHeaderEvent ? "whole-day-event" : "movable-event")"
         data-event-id="@EventId"
         style="@EventStyle"
         @key="EventId"
         @onmousedown=OnMouseDown
         @onmouseup=OnMouseUp>
         <div class="timetable-event-title">
            @Title
         </div>
    </div>
</div>