<div class="timetable-event-pill @(IsWholeDay ? "" : "movable-event")"
     data-event-id=@EventId
           @key=EventId
     style="height: @(IsWholeDay ? "2rem" : $"{Span * 2}rem");"
     @onmousedown=OnMouseDown
     @onmouseup=OnMouseUp>
     @Title
</div>

@if (_popoverVisible)
{
    <div class="popover">
        <div class="popover-header">
            <span>@Title</span>
            <div class="header-buttons">
                <button class="action-btn" @onclick=EditEvent>&#9998;</button>
                <button class="action-btn" @onclick=DeleteEvent>&#128465;</button>
                <button class="close-btn" @onclick=TogglePopover>&#10006;</button>
            </div>
        </div>
        <div class="popover-body">
            @DetailTemplate
        </div>
    </div>
}