.timetable-event {
    background-color: #67b6ff;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    flex: 1 1 auto;
    height: 100%;
    border-radius: 10px;
    z-index: auto;
}

.timetable-event-pill {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}

.popover {
    top: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    z-index: 1;
}

.popover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.action-btn, .close-btn {
    border: none;
    background: transparent;
    color: #888;
    cursor: pointer;
    margin-left: 5px;
}

.action-btn:hover, .close-btn:hover {
    color: red;
}

.popover-body {
    font-size: 14px;
}