<div style="display: grid; grid-template-columns: repeat(@Offset, 1fr); @EventStyle">
    <div class="timetable-event-pill @(IsHeaderEvent ? "whole-day-event" : "movable-event")"
         data-event-id="@EventId"
         style="grid-column-start: @(Order + 1);"
         @key="EventId"
         @onmousedown=OnMouseDown
         @onmouseup=OnMouseUp>
         <div class="timetable-event-title">
            @Title
         </div>
    </div>
</div>