.timetable-event-pill {
    border-radius: 0.5rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border: 2px solid transparent;
    cursor: pointer !important;
    text-overflow: ellipsis;
    touch-action: none;
    white-space: pre-wrap;
    overflow: hidden;
    border: 1.5px solid #e0e0e0;
}

.timetable-event-pill:hover, .timetable-event-pill:active {
    z-index: 3;
    border: 1.5px solid blue;
}

.timetable-event-title {
    margin: .2em 0 0 .6em;
    font-size: .75em;
    color: #fff;
}
