<div @onclick=HandleClickAsync 
     class="button @ButtonStyle" 
     style="@Style">
    <span class="button-title">
        @Title
    </span>
</div>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter] public string Style { get; set; } = string.Empty;
    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Confirm;
    [Parameter] public EventCallback OnClick { get; set; }

    private string ButtonStyle => ButtonType switch
    {
        ButtonType.Confirm => "button-confirm",
        ButtonType.Delete => "button-delete",
        ButtonType.Cancel => "button-cancel",
        _ => ""
    };

    private async Task HandleClickAsync(MouseEventArgs e)
    {
        await OnClick.InvokeAsync(e);
    }
}