@typeparam TEvent where TEvent : class
@typeparam TType
@inherits BaseInput<TEvent, TType>

<div class="selectfield @(HasError ? "error" : "")">
    <select id=@_id @bind=BindProperty>
        @foreach (var option in Options)
        {
            <option value="@option?.ToString()">@option</option>
        }
    </select>
    <label for=@_id>@Label</label>

    @if (!HasError)
    {
        <div class="underline"></div>
    }

    <ErrorMessage Message=@ErrorMessage />
</div>
