@typeparam TEvent where TEvent : class
@inherits BaseInput<TEvent, DateTime>

<div class="datetimefield @(HasError ? "error" : "")">
    @if (Type == InputDateType.DateTimeLocal || Type == InputDateType.Date)
    {
        <InputDate id="@($"date-{Id}")" @bind-Value=DatePart Type=InputDateType.Date />
    }

    @if (Type == InputDateType.DateTimeLocal || Type == InputDateType.Time)
    {
        <InputDate id="@($"time-{Id}")" @bind-Value=TimePart Type=InputDateType.Time />
    }

    <label>@Label</label>

    @if (!HasError)
    {
        <div class="underline"></div>
    }
</div>
    <ErrorMessage Message=@ErrorMessage />