@typeparam TEvent where TEvent : class
@typeparam TType
@inherits BaseInput<TEvent, TType>

<div class="textfield @(HasError ? "error" : "")">
    <input type="@GetInputType()" @bind=BindProperty id=@Id placeholder=" " />
    <label for=@Id>@Label</label>

    @if (!HasError)
    {
        <div class="underline"></div>
    }

    <ErrorMessage Message=@ErrorMessage />
</div>
