<p class="modal-title" style="max-width: 15rem; text-align: center; margin: 1rem auto;">
    @Localizer["GroupMoveDescription"]
</p>

<div class="action-buttons">
    <Button Title=@Localizer["MoveSingle"]
            OnClick=SingleClickedAsync 
            ButtonType=ButtonType.Confirm />
    
    <Button Title=@Localizer["MoveGroup"]
            OnClick=GroupClickedAsync 
            ButtonType=ButtonType.Confirm 
            Style="margin-left: 1rem;" />
    
    <Button Title=@Localizer["ButtonCancel"]
            OnClick=CancelClickedAsync 
            ButtonType=ButtonType.Cancel 
            Style="margin-left: 1rem;" />
</div>

@code {
    [Inject] private Localizer Localizer { get; set; } = default!;

    [Parameter] public EventCallback OnSingleMove { get; set; } = default!;
    [Parameter] public EventCallback OnGroupMove { get; set; } = default!;
    [Parameter] public EventCallback OnCancel { get; set; } = default!;

    [CascadingParameter] internal ModalService ModalService { get; set; } = default!;

    private async Task SingleClickedAsync()
    {
        await OnSingleMove.InvokeAsync();
        ModalService.Close();
    }

    private async Task GroupClickedAsync()
    {
        await OnGroupMove.InvokeAsync();
        ModalService.Close();
    }

    private async Task CancelClickedAsync()
    {
        await OnCancel.InvokeAsync();
        ModalService.Close();
    }
}