<div class="timetable-modal-wrapper @(ModalService.IsOpen ? "show" : "hide")"
     @onmousedown=Close>
    <div class="timetable-modal" @onmousedown:stopPropagation>
        <div class="timetable-modal-header">
            @if (ModalService.IsClosable)
            {                
                <span class="timetable-modal-title"></span>
                <div class="close-button" @onclick=Close>
                    <CloseIcon />
                </div>
            }
        </div>
        <div class="timetable-modal-body">
            @ModalService.ModalContent
        </div>
    </div>
</div>