@typeparam TEvent where TEvent : class

<div class="timetable-event-pill movable-event"
     data-event-id="@CellItem.Id"
     style="@EventStyle"
     @key="CellItem.Id"
     @onmousedown=OnMouseDown
     @onmouseup=OnMouseUp>
    <div class="timetable-event-title">
    @CellItem.EventDescriptor.Title
    </div>
</div>