@using Blazor.Timetable.Components.Shared.Forms
@inherits BaseInput<TimetableEvent, int?>

<div class="textfield">
    <input type="number" @bind=BindProperty id=@Id placeholder=" " />
    <label for=@Id>@Label</label>
    <div class="underline"></div>
</div>

@if (HasError)
{
    <div class="">
        <span class="error">@ErrorMessage</span>
    </div>
}
