@page "/"
@using Timetable
@using Timetable.Common.Enums
@rendermode InteractiveServer

<PageTitle>Example page</PageTitle>

<TimetableComponent TEvent=TimetableEvent 
                    Events=CurrentEvents
                    
                    Title="e => e.Title"
                    DateFrom="e => e.StartTime"
                    DateTo="e => e.EndTime"
                    GroupIdentifier="e => e.GroupId"

                    TimetableConfig="new(){
                        DisplayType = DisplayType.Week,
                        FirstDayOfWeek = DayOfWeek.Monday,
                        Days=[DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday],
                        TimeFrom=new(8, 0),
                        TimeTo=new(16, 0),
                        Is24HourFormat=true,
                        CurrentDate = DateTime.Today
                    }"

                    OnEventUpdated=HandleEventMoved
                    OnPreviousClicked=HandlePreviousClicked 
                    OnNextClicked=HandleNextClicked>
    <DetailTemplate Context="timetableEvent">
        <div>
            <p>Custom Event View</p>
            <p><strong>Start:</strong> @timetableEvent.StartTime.ToString("g")</p>
            <p><strong>End:</strong> @timetableEvent.EndTime.ToString("g")</p>
            <p>@timetableEvent.Description</p>
            <p>@timetableEvent.GroupId</p>
        </div>
    </DetailTemplate>
</TimetableComponent>

@code{
    static readonly DateTime TodayMidnight = DateTime.Today;

    public List<TimetableEvent> CurrentEvents { get; set; } = [];

    protected override void OnInitialized()
    {
        var generator = new EventGenerator();
        CurrentEvents = generator.GenerateHardcodedEvents();
    }
    
    public void HandleNextClicked()
    {
        // TODO: Custom behaviour
    }

    public void HandlePreviousClicked()
    {
        // TODO: Custom behaviour
    }
    
    public void HandleEventMoved(TimetableEvent timetableEvent){
        // TODO: Update the event in the database
    }

}