@page "/"
@using Timetable.Components
@using Timetable.Common.Enums
@rendermode InteractiveServer

<PageTitle>Example page</PageTitle>

<Timetable TEvent=TimetableEvent 
                    Events=Events
                    
                    Title="e => e.Title"
                    DateFrom="e => e.StartTime"
                    DateTo="e => e.EndTime"
                    GroupIdentifier="e => e.GroupId"

                    TimetableConfig="new(){
                        DefaultDisplayType=DisplayType.Week,
                        DisplayTypes=[DisplayType.Week, DisplayType.Month, DisplayType.Day],
                        FirstDayOfWeek = DayOfWeek.Monday,
                        Days=[ DayOfWeek.Sunday, DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday],
                        TimeFrom=new(8, 0),
                        TimeTo=new(16, 0),
                        Is24HourFormat=false
                    }"

                    OnEventUpdated=HandleEventUpdated
                    OnPreviousClicked=HandlePreviousClicked 
                    OnNextClicked=HandleNextClicked>
    <DetailTemplate Context="timetableEvent">
        <div>
            <p>Custom Event View</p>
            <p><strong>Start:</strong> @timetableEvent.StartTime.ToString("g")</p>
            <p><strong>End:</strong> @timetableEvent.EndTime.ToString("g")</p>
            <p>@timetableEvent.Description</p>
            <p>@timetableEvent.GroupId</p>
        </div>
    </DetailTemplate>
    <CreateTemplate>
        @* TODO *@
    </CreateTemplate>
    <EditTemplate>
        @* TODO *@
    </EditTemplate>
    <DeleteTemplate>
        @* TODO *@
    </DeleteTemplate>
</Timetable>

@code{
    public List<TimetableEvent> Events { get; set; } = new EventGenerator().GenerateHardcodedEvents();
    
    public void HandleNextClicked()
    {
        // TODO: Custom behaviour
    }

    public void HandlePreviousClicked()
    {
        // TODO: Custom behaviour
    }
    
    public void HandleEventUpdated(TimetableEvent timetableEvent){
        // TODO: Update the event in the database
    }
}