@typeparam TEvent where TEvent : class

<div class="modal-container">
    <Input Label="Title" @bind-Value=EventWrapper.Title />

    <Input Label="Start" @bind-Value=EventWrapper.DateFrom />

    <Input Label="End" @bind-Value=EventWrapper.DateTo />

    <Dropdown TType=@RepeatOption
        Label="Repeat" 
        @bind-Value=SelectedRepeatOption 
        Options=@((RepeatOption[])Enum.GetValues(typeof(RepeatOption))) />

    @if (SelectedRepeatOption == RepeatOption.Custom)
    {
        <div style="margin-top: 0.5rem;">
            <label>Every (days):</label>
            <input type="number" class="form-control" @bind="CustomEveryDays" min="1" />
        </div>
    }

    @if (CreateFields != null)
    {
        @CreateFields(EventWrapper.Event)
    }

    <div>
        <button @onclick=Save>Save Event</button>
    </div>
</div>
